# Supabase — lấy từ Project Settings > API trên supabase.com
NEXT_PUBLIC_SUPABASE_URL=https://vqfehtnofcfwfcbmuusq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_a1FnYOMpuB-a-NMRcFOtWw_jyP6Z8c0